.mainBox{
    background-color: darksalmon;
    margin: 10px;
    padding: 20px;
}

#text{
   width: 30rem;
   height: 20rem;
    
}
button{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 900;
}
button:hover{
    background-color: coral;
}
#csstext{
    width: 30rem;
    height: 20rem;
}
#jstext{
    width: 30rem;
   height: 20rem;
}
.topics{
    padding: 6px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}